body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
}

button:focus,
button:hover,
input:focus,
input:hover,
textarea:focus,
textarea:hover{
    outline: none !important;
    box-shadow: none !important;
}
nav .navbar-light .navbar-nav .nav-link{
    color: black;
}

nav.navbar-light .navbar-nav .nav-link:hover,
nav.navbar-light .navbar-nav .nav-link:active,
nav.navbar-light .navbar-nav .nav-link:focus
{
    font-weight: 600;
}

nav.navbar-light .navbar-nav .nav-link.active{
    font-weight: 700;
}

/**
*    peso de letra
*/
.fw-600{
    font-weight: 600;
}
/**
Tamaños de letra
*/
.font-size-78{
    font-size: 78px;
}
.font-size-62{
    font-size: 62px;
}
.font-size-60{
    font-size: 60px;
}
.font-size-50{
    font-size: 50px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-23{
    font-size: 23px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-21{
    font-size: 21px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px !important;
}
.font-size-14{
    font-size: 14px;
}

.font-size-13{
    font-size: 13px !important;
}

.font-size-12{
    font-size: 12px;
}

.font-size-11{
    font-size: 11px;
}

.header a{
    text-decoration: none;
}
.header a:hover,
.header a:focus
.header a:active{
    color: white;
}

.text-light {
    color: #f9f9f9a1 !important;
}
.text-primary{
    color: #168FC8 !important;
}
.text-dark{
    color: #333333 !important;
}
.bg-primary{
    background-color: #168FC8 !important;
}
input::placeholder,
input,
textarea{
    font-size: 12px;
    color: #1D1D1A;
}

.newsletter .form-control:focus,
.newsletter .form-control:active
.newsletter .form-control:hover{
    box-shadow: none;
    border-color: none;
}

.cd-none{
    display: none;
}
.cd-none a:hover{
    font-weight: bold;
}

.ul-style ul {
    list-style: none; /* Remove default bullets */
}
.ul-style ul li::before{
    content: "\2022";
    color: #168FC8;
    font-weight: bold;
    display: inline-block;
    margin-left: -1em;
    font-size: 25px;
    width: 1rem;
    position: relative;
    top: 4px;
    height: 0;
}
.card{
    background-color: transparent;
    border: none;
}
.producto:hover .card-body{ 
    background-color: #168FC8 !important;
}
.producto:hover .card-body a{
    color: white !important;
}
.producto .position-relative:hover .mas.position-absolute{
    display: flex;
}
.producto .mas img{
    border:none;
}

.contenedor-breadcrumb{
    background-color: #f2f2f2;
}
aside li.active > a{
    background-color: #168FC8 !important;
}
aside li.active .active{
    font-weight: 600;
}
aside li.active > a{
    font-weight: 600;
}

aside li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);  
}
aside li:last-child{
    border: none;
}
.ficha-tecnica{
    width: 180px;
    border: 1px solid #168FC8 !important;
    color: #168FC8 !important;
}
.rd-none{
    display: none;
}
.color-producto{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
td{
    vertical-align: middle;
}

.contenedor-color{
    width: 100%;
}
.contenido-color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;   
}
.eliminar-item-presupuesto{
    padding: 0px 5px;
    background-color: gray;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    font-size: 10px;    
}
.hero{
    height: 70vh; 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    background-position: center;
}

#sliderHero .carousel-indicators{
    bottom: 140px;
}
#sliderClient .carousel-indicators{
    bottom: -60px;
    left: 0;
    right: 0;
    margin: auto;
}
iframe{
    width: 100%;
}
#sliderClient .carousel-indicators [data-bs-target]{
    background-color: gray;
}

.navbar-light .navbar-toggler-icon{
    background-color: white;
    border-radius: 2px;
}

.card-client{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.searchHedader form input{
    display: none;
}

.searchHedader:hover form input{
    display: block;
}

.searchHedader:hover form button{
    background-color: #168FC8;
    color: white !important;
}

.redes-sociales a:hover {
    color:#0d6efd;
}

@media (min-width: 50px){
    .categoria-producto{
        bottom: 0; 
    }
    .position-sm-static{
        position: static;
    }
    .contenedor-color{
        width: 100%;
        height: 94px;
    }

    #hilos-libertad h5{
        font-size: 1.25rem;
    }
    #sliderHeroEmpresa .carousel-indicators {
        left: 0;
        right: 0;
        bottom: 0;
    }

    .col-service{
        margin-bottom: 2rem;
    }

    .title-service{
        margin-left: 10px;
    }

    .rposition{
        position: static;
    }
}


@media (min-width: 992px){
    .plogo-footer{
        padding-left: 75px !important;
    }
    
    .rposition{
        position: absolute;
    }
    .position-md-absolute{
        position: absolute;
    }

    #section2 .bg-light {
        width: 287px; 
        height: 290px;
    }

    .cd-block:hover .cd-none{
        display: block;
    }
    .card-client{
        width: 15%;
    }
    .col-service{
        margin-bottom: 6rem;
    }
    .title-service{
        margin-left: 110px;
    }
    nav.navbar-light .navbar-nav .nav-link{
        font-size: 90%;
    }
    .categoria-producto .container{
        max-width: 980px;
        
    }

    .contenedor-color{
        width: 18%;
    }

    nav.navbar-light .navbar-nav .nav-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        height: 5px;
        background-color: #168FC8;
    }

    .cd-block:hover .cd-none{
        display: block;
    }

    .col-service{
        margin-bottom: 6rem;
    }

    .title-service{
        margin-left: 110px;
    }

    nav.navbar-light .navbar-nav .nav-link{
        font-size: 90%;
    }

    .categoria-producto .container{
        max-width: 980px;
        
    }

    .contenedor-color{
        width: 18%;
    }

    nav.navbar-light .navbar-nav .nav-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        height: 5px;
        background-color: #168FC8;
    }
}

@media (min-width: 720px){
    #accionamientos .card img{
        max-height: 250px;
        min-width: 250px;
        object-fit: contain;
    }

    .w-33{
        width: 33%;
    }

    #cotizadorOnline .medidas .form-group{
        width: 30%;
    }
    
    .categoria-producto{
        bottom: 120px;
    }
    .image-card{
        max-height: 250px;
        min-height: 250px;
        object-fit: cover;
        width: 100%;
    }
    #sliderHero, #sliderHero .carousel-inner, #sliderHero .carousel-item{
        max-height: 100vh;
        min-height: 100vh;
    }
    #sliderEmpresa, #sliderEmpresa .carousel-inner, #sliderEmpresa .carousel-item{
        max-height: 428px;
        min-height: 428px;
    }
    #sliderEmpresa .carousel-caption{
        top: 40%;
    }
    .img-client-carrusel{
        min-width: 172px;
        max-width: 172px;
        min-height: 92px;
        max-height: 92px;
        object-fit: contain;
    }

    .contenedor-color{
        width: 30%;
    }

    #hilos-libertad h5{
        font-size: 30px;
    }

    #sliderHeroEmpresa .carousel-indicators{
        bottom: 10px;
    }
    .w-md-48{
        width: 48% !important;
    }
}


@media (max-width: 992px){
    .rbg-dark{
        background-color: #212529bd !important
    }
    .navbar-light .navbar-nav .nav-link{
        color:white;
    }
    .font-size-50{
        font-size: 25px;
    }
    .hero{
        height: 50vh;
    }
}
@media (max-width: 720px){

    #heroProducto h2{
        font-size: 19px;
    }
    .logo-header{
        max-width: 150px;
    }
    .ancho-boton{
        width: 100%;
    }
    #heroProducto p{
        font-size: 15px;
    }

    #section2{
        position: static !important;
        margin-top: 30px;
    }
    
    #section2 .bg-light{
        width: 90% !important;
        height: auto !important;
        margin: auto;
    }

    #sliderHero .carousel-item{
        height: 70vh !important;
    }
    #sliderEmpresa .carousel-item{
        height: 240px !important;
    }
    #representadas img {
        width: 45%;
    }

    .font-size-62{
        font-size: 21px;
    }
}

@media (max-width: 500px){
    .logo-header{
        max-width: 100px;
    }
    #cotizadorOnline .medidas .form-group{
        width: 100%;
    }

    .font-size-40{
        font-size: 25px;
    }
    .font-size-30{
        font-size: 20px;
    }
    .font-size-23{
        font-size: 19px;
    }
    .font-size-20{
        font-size: 17px;
    }
    .font-size-16{
        font-size: 15px;
    }
}
